.main{
    background-color: #ffeaea;
    padding: 40px;
}
h2{
    padding: 30px;
}
.container{
    background-color: white;
    padding-top: 4vh;
    width: 80%;
    height: 100%;
    padding-left: 50px;
}

input,
select{
    margin-bottom: 30px;
}
button{
    margin-bottom: 50px;
}