<div class="fullScreen">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <img class=" mt-4 w-50" src="../../assets/NORTHFACE.png" alt="logo">
            </div>
            <div class="col col-md-2"></div>
            <div class="col col-md-4 col-sm-8">
                <div class="card-container shadow-lg bg-light rounded py-5">
                    <h1 style="text-align: center; margin:5%; color: #0458A0; font-style: italic;">Enter OTP</h1>
                    <h2 style="text-align: center;margin: 5%;color: #0458A0;" href="">--------</h2>
                    <div style="text-align: center;">
                        <button class="btn btn-primary" style="width: 50% " (click)="VERIFY()">VERIFY</button>
 
                    </div>
                    <div class="SignIn ms-3">
                        <a href=""style="">RESENDIT</a>
                    </div>
 
                    <ul>
                        <li>OTP is sent your Registered E-mail address and Contact Number.</li>
                        <li>If Not Received OTP or Time Out,Click on RESEND.</li>
                        <li>After Verification Reset Your Password</li>
                        <li>After Verification Login with new Credentials </li>
                    </ul>