.main {
  background-color: #ffeaea;
  height: 100%;
}

.text-heading {
  font-weight: bold;
  padding-top: 2vh;
  padding-left: 20vh;
  padding-bottom: 2vh;
  
}

.bulk-add {
  margin-bottom: 10vh;
}
/* 
.single-add {
} */
