<div class="fullScreen">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <img class=" mt-4 w-50" src="../../assets/NORTHFACE.png" alt="logo">
            </div>
            <div class="col col-md-2"></div>
            <div class="col col-md-4 col-sm-8">
                <div class="card-container shadow-lg bg-light rounded py-5">
                    <h1 style="text-align: center; margin:2%; color: #0458A0; font-family:monospace;">LOGIN</h1>
                    <form [formGroup]="loginForm" (ngSubmit)="login()">

                        <div>
                            <img src="../../assets/logos/usericon.png" alt="user" class="img1">
                            <input type="text" placeholder="Username" formControlName="userName"
                                style="width: 85%;padding: 6px; text-align: center; ">
                            <div *ngIf="loginForm.get('userName')?.touched && loginForm.get('userName')?.hasError('required')"
                                class="text-danger ms-3">
                                username is required</div>
                        </div>


                        <div class="input"> 
                            <span class="icon"><img src="../../assets/logos/password.png" alt="Password Icon"></span>
                            <input type="password" placeholder="Password" id="password" formControlName="password"
                                style="width: 85%;padding: 6px; text-align: center; ">
                            <div>
                                <img class=img3 src="../../assets/logos/Light eye.png" alt="Eye Icon" type="button"
                                    (click)="eyeEvent()">
                            </div>
                            <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.hasError('required')"
                                class="text-danger ms-3">
                                Password is required</div>
                        </div>

                        <div *ngIf="submitted" class="text-danger ms-3">Incorrect Username or Password!!!</div>
                        <div class="forgot mb-4">
                            <div class="SignIn ms-3">

                                <a routerLink="/signUp">Sign_Up</a>

                            </div>
                            <div class="me-4">
                                <a routerLink="/forgotPassword">Forgot_Password?</a>
                            </div>
                        </div>
                        <div style="text-align: center;">
                            <button class="btn btn-primary" style="width: 80%;" type="submit">LOGIN</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- 





 -->