<div class="Image1">
    <h1 style="margin-left: 10%;">TEMPLATES</h1>

    <div class="main">
        <div class="sub-container">
            <h4 style="font-size: 20px;">View Letter Templates</h4>
        </div>
        <div class="bg-white-card">
            <div class=" container">
                <div class="m-3 btnheading">
                    <button type="button" style="border: none; " (click)="appoinmentletter()"><img
                            src="../../assets/logos/appointment.png" alt="AL" class="image"></button>
                    <h6>Appiontment Letter</h6>
                </div>
                <div class="m-3">
                    <button type="button" style="border: none;" (click)="revisionletter()"><img
                            src="../../assets/logos/revision.png" alt="RL" class="image"></button>
                    <h6>Revision Letter</h6>
                </div>
                <div class="m-3">
                    <button type="button" style="border: none;" (click)="conformationletter()"><img
                            src="../../assets/logos/confirmation.png" alt="cL" class="image"></button>
                    <h6>Conformation Letter</h6>
                </div>
                <div class="m-3">
                    <button type="button" style="border: none;" (click)="relevingletter()"><img
                            src="../../assets/logos/relieving.png" alt="rel.L" class="image"></button>
                    <h6>Releving Letter</h6>
                </div>
            </div>
            <div class="m-3">
                <button type="button"
                    style="border:none; padding-top: 2%; padding-bottom: 2%; margin-left: 50px; margin-top: 5%;"
                    (click)="verificationletter()"><img src="../../assets/logos/verification.png" alt="e.L"
                        class="image"></button>
                <h6>Verification Letter</h6>
            </div>
        </div>
    </div>


</div>