/* .container{
    background-image: url("../assets/nfcs backgroundimage.png");
    height: 100vh;
    background-size: cover;
    
    

}

.card-container{
    background-image: url("../assets/Rectangle 536.png");
    background-size: cover;
    height: 65vh;
    width: 60vh;
    margin-left: 55%;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    
 
   
   
    
    
    
}

input{
    border-radius:8px;
    width: 90%;
    margin-left:50px;
    margin: 8%;

}

a{
    margin: 3%;
}

.forgot{
    display: flex;
    justify-content: space-between;
}
.SignIn{
    margin: 2%;
} */
