.main {
  width: 90%;
  margin: 0 auto;
  padding: 20px;
}

.form-heading {
  background-color: #99d0ff;
  color: #6b106a;
  font-size: 24px;
  padding: 10px;
  text-align: center;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  overflow: hidden;
}

.form-body {
  background-color: white;
  padding: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-row {
  display: flex;
  flex-wrap: wrap; /* Allow rows to wrap */
  margin-bottom: 9px;
}

.form-col {
  flex: 1;
  margin-right: 15px;
  margin-bottom: 9px; /* Add margin between columns */
}

.form-col:last-child {
  margin-right: 0;
}

.form-col label {
  display: block;
  margin-bottom: 5px;
}

input {
  background-color: #f4f4f4;
}

.form-col input,
.form-col select {
  width: calc(100% - 10px); /* Adjust width to accommodate margins */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.button-container {
  margin-top: 20px;
  text-align: right;
}

button {
  padding: 10px 20px;
  margin-left: 10px;
  background-color: #578eb3;
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

button:hover {
  background-color: #06568f;
}
