<!-- <div class="main">

  <div class="employee-list-display">
    <div class="heading">
      <ul id="heading-list">
        <li>Emp No</li>
        <li>Name</li>
        <li>Date of Birth</li>
        <li>Date of Joining</li>
        <li>E-Mail</li>
      </ul>

    </div>

    <div class="detials">
      <ul>
        <li *ngFor="let employee of employees" class="single-employee">
          <p> {{ employee.EMPLOYEE_NUMBER }}</p>
          <p> {{ employee.FIRST_NAME }}</p>
          <p>{{ employee.LAST_NAME }}</p>
          <p> {{ employee.DATE_OF_JOINING | date: 'shortDate' }}</p>

          <p> {{ employee.EMAIL }}</p>
        </li>
      </ul>
    </div>
  </div>

</div>

 -->





<table>
  <tr>
    <th>Emp No</th>
    <th>Name</th>
    <th>Date of Birth</th>
    <th>Date of Joining</th>
    <th>E-Mail</th>
  </tr>
  <p *ngFor="let employee of employees" class="single-employee">
    <tr>
      <td>{{ employee.EMPLOYEE_NUMBER }}</td>
      <td>{{ employee.FIRST_NAME }}</td>
      <td>{{ employee.LAST_NAME }}</td>
      <td>{{ employee.DATE_OF_JOINING | date: 'shortDate' }}</td>
      <td> {{ employee.EMAIL }}</td>
    </tr>
  </p> 
</table>