.main{
    margin-top: 3vh;
    display: flex;
    justify-content: center;
    border-radius: 10px;
}

.employee-list-display{

    height: 100%;
    width: 90vw;
    background-color: white;
    border-radius: 8px;
    overflow: hidden;
}
.heading{
    background-color: #99d0ff;
    
}

.single-employee{
    display: flex;
    justify-content: space-around;
}

ul > li{
    list-style: none;

}
#heading-list{
    padding: 0%;
    display: flex;
    justify-content: space-around;
}