.fullScreen {
    background-image: url("../../assets/loginBackground.png");
  height: 100vh;
  background-size: cover;
}
.card-container {
    background-size: cover;
    border-radius: 50px;
    margin-top: 25%;
    opacity: 0.9;
    flex-direction: column;
}

input {
    border-radius: 10px;
    width: 90%;
    margin-left: 50px;
    margin: 8%;
  }
  