<div class="fullScreen">
    <div class="container">
        <div class="row">
            <div class="col col-md-6">
                <img class=" mt-4 w-50" src="../../assets/NORTHFACE.png" alt="logo">
            </div>
            <div class="col col-md-2"></div>
            <div class="col col-md-4 col-sm-8">
                <div class="card-container shadow-lg bg-light rounded py-5">
                    <h1 style="text-align: center; margin:2%; color: #0458A0; font-style: italic;">FORGOT PASSWORD</h1>
                    <form [formGroup]= "FgpwPage" (ngSubmit)="SENDOTP()" >
                        <div class="d-flex flex-column">
                            <label for="" class="m-3"></label>
                            <div class="icon"></div>
                            <div class="icon">
                                <i class="fa-solid fa-user"></i>
                            </div>
                            <input type="text" placeholder="USERNAME" formControlName="USERNAME" class="w-70 m-2 p-2">
                            <div *ngIf=" FgpwPage.get('USERNAME')?.touched && FgpwPage.get('USERNAME')?.hasError('required')"
                                class="text-danger ms-3">
                                USERNAME REQUIRED
                            </div>
                        </div>
                        <div style="text-align: center; margin-top: 15%;">
                            <button class="btn btn-primary" style="width: 50%;"  type="submit">SENDOTP</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
 
    </div>
 