
.main {
  background-color: #ffeaea;
  height: 100%;
  /* height: auto; */
  
}
#idCount {
  font-size: larger;
  font-weight: bolder;
  color: #f21111;
}
.card-container {
  margin: 2vh 4vw;
  background-color: white; 
  padding: 30px; 
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 4vh;
}

.employee-container {
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
}
.img-div {
  margin-top: 2vh;
  height: 35vh;
  width: 9vw;  
  border-radius: 50%;
  background-color: white;
}
.employee-card {
  width: calc(22% - 10px);
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  margin-bottom: 40px;
  border-radius: 5px;
  /* box-sizing: border-box; */
}

/* Additional styling for employee details */
.employee-details1,
.employee-details2 {
  font-size: small;
  height: 30vh;
  display: flex;
  background-color: #99d0ff;
  color: black;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}
.employee-details2 {
  background-color: #c5f4fe;
  height: 14vh;

}

.material-symbols-outlined
{
  position: relative;
  top: 0.8vh;
  font-size:3vh;
  margin-right: 1vw;
}