.main {
  background-color: #ffeaea;
  height: 100%;
}

button.material-icon-button {
  border: none;
  background: none;
  padding: 0;
}

#idCount {
  font-size: larger;
  font-weight: bolder;
  color: #f21111;
}
.card-container {
  margin: 2vh 4vw;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding-bottom: 4vh;
}

.employee-container {
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
}
img {
  height: 100px;
  width: 100px;
  margin-left: 11px;
}
.img-div {
  margin-top: 2vh;
  height: 35vh;
  width: 9vw;
  border-radius: 50%;
  background-color: white;
  overflow: hidden;
}
.employee-card {
  width: calc(22% - 10px);
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  margin-bottom: 40px;
  border-radius: 15px;
  overflow: hidden;
}

.employee-details1,
.employee-details2 {
  font-size: small;
  height: 30vh;
  display: flex;
  background-color: #99d0ff;
  color: black;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.employee-details2 {
  background-color: #c5f4fe;
  height: 14vh;
}

.material-symbols-outlined {
  position: relative;
  top: 0.8vh;
  font-size: 3vh;
  margin-right: 1vw;
}

.top-right-circles {
  position: absolute;
  display: flex;
  top: 10px;
  right: 10px;
}

.circle1,
.circle2 {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #c5f4fe;
  margin-left: 5px;
}

.employee-card {
  width: calc(22% - 10px);
  margin-right: 1.5vw;
  margin-left: 1.5vw;
  margin-bottom: 40px;
  border-radius: 15px;
  overflow: hidden;
  position: relative;
}

