<nav>
    <ul>
        <li><img src="../../assets/NORTHFACE.png" alt=""></li>
        <!-- NFCS logo -->
        <li><a style="margin-top: 30%;" href="http://localhost:4200/Home">Home</a></li>
        <li class="has-submenu" (mouseenter)="showSubmenu($event)" (mouseleave)="hideSubmenu($event)">
            <a style="margin-top: 20%;"href="#">Employee</a>
        </li>
        <li><a style="margin-top: 30%;" href="#">Payroll</a></li>
        <li><a style="margin-top: 30%;" href="#">Leaves</a></li>
        <li><a style="margin-top: 20%;" href="#">Workflow</a></li>
        <li id="profile"><a href="#"><img src="../../assets/profile.png" alt="">View Profile</a></li>
    </ul>
</nav>

