<nav>
    <ul>
        <li id="ch1">
            <img src="../../assets/NORTHFACE.png" alt="NFCS logo" (click)="backToHome()">
        </li>
        <li><a routerLink="/landing">Home</a></li>
        
        <li class="has-submenu">
            <a routerLink="/landing">Employee</a>
            <ul class="submenu">
                <li><a routerLink="/addNewEmployeePage">Add</a></li>
                <li><a routerLink="/viewEmployees">View</a></li>
                <li><a routerLink="/generateLetters">Generate</a></li>
                <li><a routerLink="/setup">Setup</a></li>
            </ul>
        </li>
        <li><a routerLink="/#">Payroll</a></li>
        <li><a routerLink="/#">Leaves</a></li>
        <li><a routerLink="/#">Workflow</a></li>
        <li id="profile"><a href="#"><img src="../../assets/profile.png" alt="">View Profile</a></li>
    </ul>
</nav>
