<nav>
    <ul>
        <li><img src="../../assets/NORTHFACE.png" alt=""></li>
        <!-- NFCS logo -->
        <li><a style="margin-top: 30%;" href="landing">Home</a></li>
        <li class="has-submenu" (mouseenter)="showSubmenu()" (mouseleave)="hideSubmenu()">
            <a style="margin-top: 20%;" href="landing">Employee</a>
            <ul class="submenu" *ngIf="isSubmenuVisible">
                <li><a href="addEmployee">Add Employee</a></li>
                <li><a href="viewEmployees">Employee Profile</a></li>
                <li><a href="viewEmployees">Generate Letters</a></li>
                <li><a href="viewEmployees">Setup</a></li>
            </ul>
        </li>
        <li><a style="margin-top: 30%;" href="#">Payroll</a></li>
        <li><a style="margin-top: 30%;" href="#">Leaves</a></li>
        <li><a style="margin-top: 20%;" href="#">Workflow</a></li>
        <li id="profile"><a href="#"><img src="../../assets/profile.png" alt="">View Profile</a></li>
    </ul>


