.main {
  height: 30vh;
  margin-top: 100px;
  margin-left: 250px;
}

.main-title {
  align-items: center;
}

.rtf-view {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10vh;
}
pre {
  height: 30vh;
  width: 60vw;
}

.fileDisplay{
  width: 50vw;
}